body {
	text-align: center;
	background-color: lightyellow;
}

button {
	display: inline-block;
	margin: 0px 200px;
	line-height: 60px;
	padding: 0 20px;
	background: salmon;
	font-weight: bold;
	border: none;
	width: 150px;
}

button:hover {
	background: lightsalmon;
}

.button1 {
	text-align: left;
}

.button2 {
	text-align: right;
}

.card {
	display: inline-block;
}

.card img {
	border-radius: 10%;
	margin: 25px 20px;
}

canvas {
	background: #eee;
	margin: 25px 25px;
	height: 275px;
	width: 400px;
	border: dotted;
	border-radius: 10%;
}

ul {
	margin: 25px;
	list-style: none;
	font-weight: bold;
	font: Arial;
}

li {
	color: #339;
	padding: 0 0 35px 0;
}

.l_inventory {
	float: left;
	text-align: right;
}

.r_inventory {
	float: right;
	text-align: left;
	margin-left: -25px;
	margin-right: 70px;
}

.sel {
	list-style: "#eee";
}
